#include <windows.h>

// Icon Resource (ID 1 matches LoadImage / WNDCLASS definition)
1 ICON "icon.ico"

// Executable Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,3,0,0
PRODUCTVERSION 1,3,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS      VS_FF_DEBUG
#else
FILEFLAGS      0x0L
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "Subhajit Maji"
            VALUE "FileDescription",  "Channel Mixer"
            VALUE "FileVersion",      "1.3.0.0"
            VALUE "InternalName",     "ChannelMixer"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Subhajit Maji. All rights reserved."
            VALUE "OriginalFilename", "channelmixer.exe"
            VALUE "ProductName",      "Channel Mixer"
            VALUE "ProductVersion",   "1.3.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
